@import "tailwindcss";

/* ----------------- Custom Font ----------------- */
@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@media (prefers-reduced-motion: reduce) {
  svg animate {
    display: none;
  }
}

@theme {
  /* ---------- Colors ---------- */
  --color-primary: #0070f3;
  --color-secondary: #eaedf2;

  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  --color-text-muted: #6b7280;

  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #ef4444;

  /* ---------- Fonts ---------- */
  --font-yekanbakh: "YekanBakh", sans-serif;

  /* ---------- Font Sizes ---------- */
  --text-h1: 2.5rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-base: 16px;
}

/* ---------- Global Typography Styles ---------- */
@layer base {
  body {
    @apply font-yekanbakh;
  }
}
